<div class="course-tile" data-status="{{status}}">
<div class="tile-image">
	{{{image}}}
</div>
<div class="tile-name">
	{{name}}
</div>
<div class="tile-summary">
	{{{summary}}}
</div>
<div class="tile-button">
	{{^enrollable}}
	<a>
		<button class="coming-soon-btn" style="outline: none;">
			<i class="fa fa-clock-o"></i>
			{{#str}}comingsoon_button,block_course_tiles{{/str}}
		</button>
	</a>
	{{/enrollable}}
	{{#enrollable}}
	<a href="{{config.wwwroot}}/course/view.php?id={{id}}">
		<button class="enter-course-btn" style="outline: none;">
			<i class="fa fa-book"></i>
			{{#str}}entercourse_button,block_course_tiles{{/str}}
		</button>
	</a>
	{{/enrollable}}
</div>
{{#admin}}
<div class="tile-admin">
	<a href="{{config.wwwroot}}/user/index.php?id={{id}}">
		<button class="action-btn btn1">
			<div class="action-btn-hover-text">Enrol</div>
			<i class="fa fa-users"></i>
		</button>
	</a>
	<a href="{{config.wwwroot}}/enrol/instances.php?id={{id}}">
		<button class="action-btn btn2">
			<div class="action-btn-hover-text">Enrolment methods</div>
			<i class="fa fa-sign-in"></i>
		</button>
	</a>
	<a href="{{config.wwwroot}}/course/delete.php?id={{id}}">
		<button class="action-btn btn3">
			<div class="action-btn-hover-text">Delete</div>
			<i class="fa fa-remove"></i>
		</button>
	</a>
	<a href="{{config.wwwroot}}/course/edit.php?id={{id}}">
		<button class="action-btn btn3">
			<div class="action-btn-hover-text">Edit course</div>
			<i class="fa fa-cog"></i>
		</button>
	</a>
</div>
{{/admin}}
</div>